$tablet: 768px;
$desktop: 1025px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.edit-password-container{
    width: 100%;
    // background-color: #fff;
    padding: 2em;
    border-radius: 12px;


    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .form-input-group{
            width: 100% ;
            display: flex;
            flex-direction: column;

            .group{

                .form-input{

                    @include desktop{
                        margin: 10px;
                    }
                }
            }
        }

        div.button-elem{
            width: 50%;
            margin-top: 2em;
            padding: 8px;
            margin-bottom: 3em;
        }

        
        @include desktop{
            width: 60%;
            height: 60%;
            justify-content: start;
        }
    }

    @include tablet{
        width: 65%;
    }

    @include desktop{
       padding: 0 1em;
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
    }
}